.App {
  text-align: center;
}

.header {
  height: 100vh;
  width: 100%;
  background: url('/img/header-bg.jpg') rgba(0, 0, 0, 0.8);
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
  position: relative;
}

.header .animation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.header .v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.header .v-middle h1 {
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.header .v-middle h1 span {
  text-align: center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #bdbdbd;
}
.header .v-middle label {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  padding: 5px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 3.8px;
  color: #bdbdbd;
  margin-bottom: 10px;
}
.header .v-middle .social a:hover div i {
  background: #9D2FAB;
}
.header .v-middle .social div {
  display: inline-block;
}
.header .v-middle .social div i {
  width: 40px;
  height: 40px;
  margin: 5px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}


.preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}